<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Daily Report" />
    <meta name="description" content="daily report" />
    <title>Daily Report - ic AIO</title>
    <link rel="stylesheet" href="/bootstrap/4.1.3/bootstrap.min.css">
    <script src="/bootstrap/4.1.3/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/4.1.3/popper.min.js"></script>
    <script src="/bootstrap/4.1.3/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <style>
      .float_menu {
	  background-color: #2d3743; 
	  color: white; 
	  padding: 0.5em;
	  z-index: 99;
	  position: fixed;
	  right: 0.5em;
	  bottom: 0.5em;
      }
      .float_menu a {
	  color: white;
      }
      .span_padding {
        padding: 0.5em 1em;
      }
    </style>
    
    <script>
    </script>
  </head>
  
  <body>
    <div class="bg_white container">
      <div class="header text-center">
	    <p>Daily Report</p>
      </div>   

      <div>
        <% for(var i=0; i<dat.length; i++){ %>
        <div class="text-center">
          <span style="width:10%"><%= dat[i].id %></span>
          <span style="width:10%"><%= dat[i].uid %></span>
          <span style="width:20%"><%= dat[i].dt %></span>
          <span><%= dat[i].dr %></span>
        </div>
        <% } %>    
      </div>

    </div>

  </body>
</html>

