    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="<%= header.keywords %>"/>
    <meta name="description" content="<%= header.description %>" />
    <title><%= header.title %></title>
    <link rel="stylesheet" href="/bootstrap/4.1.3/bootstrap.min.css">
    <script src="/bootstrap/4.1.3/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/4.1.3/popper.min.js"></script>
    <script src="/bootstrap/4.1.3/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
