<!DOCTYPE html>
<html>
  <head>
    <%- include('head', {header: header}) %>

    <style>
    </style>
    
    <script>
    </script>
  </head>
  
  <body>
    <div class="bg_white container">
      <div class="header text-center">
	      <p>Review</p>
      </div>   


    </div>

  </body>
</html>

